<div class="container">
    <div class="shopping-cart">
        <div class="column-labels">
            <label class="product-image">Image</label>
            <label class="product-details">Product</label>
            <label class="product-price">Price</label>
            <label class="product-quantity">Quantity</label>
            <label class="product-removal">Remove</label>
            <label class="product-line-price">Total</label>
        </div>

        <div class="product">
            <div class="product-image">
                <img src="i{{this.imagePath}}">
            </div>
            <div class="product-details">
                <div class="product-title">{{this.item.title}}</div>
                <p class="product-description">{{this.item.description}}</p>
            </div>
            <div class="product-price">{{this.item.price}}</div>
            <div class="product-quantity">{{this.qty}}</div>
            <div class="product-removal">
                <button class="remove-product">
                    Remove
                </button>
            </div>
            <div class="product-line-price">{{this.price}}</div>
        </div>
        <div class="totals">
            <div class="totals-item">
                <label>Subtotal</label>
                <div class="totals-value" id="cart-subtotal">71.97</div>
            </div>
        </div>
        <button class="checkout">Checkout</button>
    </div>
</div>